/*导航*/
a{
    text-decoration:none;
    outline:none;
}
.h_top_nav{
    width: 100%;
    height: 80px;
    padding-left:  0px !important;
    padding-right: 0px!important;
}
.h_top{
    float: none!important;
    background-color: #6fb1f5;
    padding-left:  0px !important;
    padding-right: 0px!important;
}

.h_top_nav ul li{
    float: left;
    line-height: 77px;
    position: relative;

}
.h_top_nav ul li a{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;

}
.cur a{
    border-bottom: 3px solid;
    color: #f9cb36  ;
}
.h_top .h_top_nav ul  .cur  a{
    color: #f9cb36!important;
    text-decoration: none;
}
.h_top_nav ul{
    margin-bottom: 0px;
    width: 650px;

}
/*清除浮动*/
.fix{
    display: flex;
    align-items: center;

    padding-left: 20px;
}
/*清除列表原点*/
li{ list-style-type:none;}
/*搜索*/
.h_search{
    border-bottom: none!important;
    color: #e9e9e9!important; ;
}
.h_search-input{
    height: 32px;
    border-radius: 5px;
    color: black;
    padding-left: 5px;
    border: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    background-color: white;
}
.h_search .fa-search {
    position: absolute;
    right: 7px;
    top: 24px;
    color: #333;
}
.logo text{
    font-size: 6rem;
    font-family: 'Pinyon Script', serif;
    /*text-shadow: 5px 5px 0.3rem #62819d;*/
}
.logo .logoImg{
    width: 55px;
    height: 55px;
}
.logo .logofont{
    width: 280px;
    height: 55px
}
.logo{
    width: 40%;
    padding-left:  35px !important;
    padding-right: 0px!important;
    height: 80px;
}

/*背景*/
body{
    background-image: url("../images/bodyimg2.png");
    padding-top: 0px;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow-y: scroll;
}
.h_login{
    min-width: 200px;
    display: flex;
    font-size: 17px;
    margin-right: 50px;
}
.h_login .userinfo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}
/*!*控制字体*!*/
*{
    font-family: Microsoft Yahei;

}
/*右上角展示*/
.u_info{
    width: 200px;
    border: 1px solid;
    position: absolute;
    right: -2px;
    top: 55px;
    background-color: white;
    border-radius: 10px;
    transition: 2s;
    display: none;
    z-index: 1;
}
.u_info ul{
    padding-left: 5px;
    margin: 5px;
}
.u_info ul a{
    color: #0f0f0f;
    font-size: 15px;
    margin-left: 5px;
}
.show{
    display: block!important;
}
/*顶部文字*/
.C_name {
    font-size: 28px;
    font-family: \534E\6587\6977\4F53;
    color: #ffcb48;
    text-shadow: 2px 3px 1px #3f2a2a;
    margin-left: 10px;
    min-width: 200px;
    font-weight: bold;
}
/*列表高亮*/
.treeview a:hover{
    background-color: #ddebf8;
    color: #6fb1f5!important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.menu-open .aside button:hover{
    color: #6fb1f5!important;
    background-color: #ddebf8!important;
    background-color: #deeeff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
/*点击转动图标*/
/*点击左转*/
.icon-zuo{
    position: absolute;
    right: 10px;
}
.active .icon-zuo{
    transform: rotate(-90deg);
}
.glyphicon{
    font-weight: bold;
}
/*退出文字*/
.u_info .treeview a,.u_info .treeview-menu a{
    font-weight: bold;
    color: black!important;
}