@charset "utf-8";
/*背景图*/
body{
    padding-top: 0px;
    /*background-repeat:no-repeat；*/
}
img{ border:none;}
a{
    text-decoration:none;
    outline:none;

}
.black{
    color: black!important;
    font-size: 15px;
}
li{ list-style-type:none;}

/*内容框*/
.content{
    min-height: 775px;
    margin:0 auto ;
    float: none!important;
}
.center{
    float: none!important;
    margin: 0 auto;

}
/*0804 搜索*/
.search-input{
    width: 100%;
    height: 56px;
    border-radius: 15px;
    border: 2px solid #6fb1f5;
    padding: 20px;
    outline: none;
    background-color: white;
    font-size: 15px;
}
.content .search{
    background-color: rgb(255,255,255,0)!important;
    height: 60px!important;
    padding-left: 10px;
    width: 56em;
    margin: 0 auto;
    position: relative;
}
.search_icon{
    position: absolute;
    top: 18px;
    right: 11px;
    color: blue;

}
.search_icon i{
    font-size: 18px ;
    font-weight: bold ;
}

/*控制字数*/
.sub_font{
    width:98%;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
}
.sub_font2{
    width:98%;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
}
/* 0727 横向div*/
.box-primary{
    background: #ffffff;
    padding-top: 25px;
    margin-bottom: 20px;
    border-top: 6px solid #3c8dbc;
    padding-bottom: 20px;
    height: 460px!important;
    overflow: hidden;
}
.box-primary .div-header{
    display: flex;
    color: #007bff;
    font-size: 19px;
    padding-left: 0px;
    padding-right: 0px;
}
.box-primary  .row{
    overflow-y: auto;
    height: 370px;
    width: 103%;
}

.div-header .left_text{
    width: 169px;
    text-align: center;
    border-bottom: 2px solid;
}
.div-header .left_text2{
    width: 118px;
    text-align: center;
    border-bottom: 2px solid;
}
.div-header .right_text{
    flex: 1;
    text-align: right;
    border-bottom: 2px dotted #aaa;
    padding-right: 5px;
}
.box-primary div .card-text{
    border: 1px solid #aaa;
    margin: 20px 10px 20px 10px;
    padding: 10px
}
.right_text a{
    color: #007bff!important;
    text-decoration: none!important;
}
/*中间内容*/
.flex-column{
    display: flex;
    flex-direction:column;
}
.text-yellow,.text-light-blue,.text-red{
    font-size: 22px;
}
.content .list_box{
    display: flex;
    margin-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.list_box .box_1{
    display: flex;
    align-items: center;
    margin-top: 0px;
}
.img{
    justify-content: center;
    align-items: center;
}
.col-xs-4 .img{
    margin-right: 15px;
}
.box_1 .col-xs-4{
    display: flex;
    font-size: 16px;
    height: 100%;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
}
.list_box .box_2{
    margin-left: 10px;
}
.list_box div{
    background-color: white;
    border-radius: 12px;
}
.img img{
    width: 80px;
    height: 80px;
}
.img .img_b{
    width: 60px;
    height: 60px;
}

/*资源更新*/
.card-text ul{
    padding-left: 0px;
}
.card .card-name{
    font-size: 18px;
    color: grey;
    font-family: \4E3D\5B8B Pro;
}
.card-name span{

    margin-left: 10px;
    color: #D36531;
    font-weight: bolder;
}
.card div:not(last-child){
    padding-left: 15px;
}
.box-primary .card{
    margin-top: 17px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #aaa;
    border-bottom: 5px solid #65aff9;
    border-radius: 10px;

}
.card-detail{
    font-family: \534E\6587\6977\4F53;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-bottom{
    padding-top: 9px;
    border-top: 1px solid #aaa;
    flex-direction: column;
    height: 250px;
    display: flex;
}
.text-describe{
    margin-bottom: 5px;
    font-size: 17px;
    color: #777777;
    height: 25px;
    border-bottom: 1px dotted #aaa;
}
.text-function{
    margin-bottom: 5px;
    font-size: 17px;
    color: #777777;
    height: 18vh;
    background: url(../images/index/xuhao.png ) left top no-repeat;
    background-size: 15px 15px;
    padding-left: 23px;
}
.text-describe span,.text-function span{
    color: black;
}

/*0816列表背景图*/
.list1{
    background: url(../images/index/kind.png ) left center no-repeat;
    background-size: 15px 15px;
    padding-left: 23px;
}
.list2{
    background: url(../images/index/version.png ) left center no-repeat;
    background-size: 18px 18px;
    padding-left: 23px;
}
.list3{
    background: url(../images/index/URL.png ) left center no-repeat;
    background-size: 15px 15px;
    padding-left: 23px;
}

/*热门资源*/
.boxbottom{
    margin-top: 10px;
    font-size: 16px;
}
.left{
    height: 50px;
    border-bottom: 1px solid #aaa;
    line-height: 2.5;
    padding-left: 16px;
    font-size: 20px;
    background: transparent url(../images/index/templatemo_list.png)left center no-repeat;
}
.left span{

    color: black;
}
.footer{
    padding-left: 0px!important;
    padding-right: 0px!important;
    position: absolute;
    bottom: 0;
}
/*0805 */
.right_box{
    justify-content: flex-end;
    padding-right: 40px!important;
}
.center_box{
    justify-content: center;
}
.left_box{
    padding-left: 40px !important;
}
/*跑马灯*/
#wrap {
    width: 45%;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    background-color:#fff;;
    border-radius: 0px;
    flex: 1;
}

#wrap #first{
    display: inline-block;
    font-size: 20px;
    margin-left: 93%;
    color: #509dff;
}

#wrap span {
    font-size: 20px;
    color: red;
}
.gong_img{
    margin-left: 0px!important;
    height: 50px;
    width: 140px;
    font-size: 20px;
    /*justify-content: center;*/
    display: flex;
    overflow: hidden;
    border-radius: 14px!important;
    margin-right: 5px;
    position: relative;
}
.gong_img div{
    background-color: #509dff;
    border-radius: 0px;
    height: 50px;
    color: white;
    width: 70%;
}
.new_div{
    height: 50px;
    align-items: center;
    background-color: white;
    border-radius: 14px;
    padding-left: 0px!important;
    padding-right: 10px!important;
}
.new_div .new_right{
    position: absolute;
    background-color: #f9c84b;
    width: 55px;
    right: 11px;
    transform: rotate(45deg);
}
.new_div .new_right1{
    position: absolute;
    background-color: #509dff;
    width: 52px;
    right: 25px;
    transform: rotate(45deg);
}
.news_title{
    text-align: right;
    z-index: 222;
    border-radius: 10px!important;
    line-height: 50px;
}

/*0814*/
.res_left{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.res_right{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
